GATEWAY_PORT=3000
AUTH_SERVICE_URL=http://localhost:3001
OWNER_SERVICE_URL=http://localhost:3002
CUSTOMER_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3004
REVIEW_SERVICE_URL=http://localhost:3005

# Load balancing example:
# OWNER_SERVICE_URL=http://ec2-a:3002,http://ec2-b:3002
